*,
*::after,
*::before {
  box-sizing: border-box;
}
h1 {
  margin: 0;
}

html,
body {
  margin: 0 auto;
  height: 99vh;
  max-width: 1600px;
}

body {
  font-family: Raleway, "sans-serif";
  position: relative;
  min-width: 800px;
}

video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header_title {
  margin: 0 auto;
  padding-top: 60px;
  font-weight: 800;
  max-width: 739px;
  font-size: 116px;
  letter-spacing: 3.5px;
  text-align: center;
  text-wrap: wrap;
  text-transform: uppercase;
}

.header_title::after {
  content: "*";
}

body::after {
  content: "";
}

.header_title:hover {
  color: #4C4C4C;
}

.header_title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  max-width: 746px;
  text-transform: initial;
  color: #000;
  text-wrap: wrap;
  white-space: pre;
  font-weight: 400;
  font-size: 35px;
  position: absolute;
  top: 30%;
  left: calc(100% - 768px);
  text-align: start;
  line-height: 1;
  padding: 36px 44px;
  border-radius: 20px;
  letter-spacing: normal;
  box-shadow: 0 14px 0 #000;
  border: 2px solid #000;
  background: #ffffff;
}
